@use "../components/header";
@use "../components/footer";
@use "../pages/index";
@use "../pages/about-us";

@import "../components/variables";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

.btn_fill {
  padding: 5px 20px;
  color: white !important;
  background-color: $primary-color;
  color: white;
  border-radius: 50px;
  border: none;
}

.btn_outline {
  padding: 4px 20px;
  color: $primary-color !important;
  background-color: transparent;
  border: 1px solid $primary-color !important;
  color: white;
  border-radius: 50px;
  border: none;
  transition: all 0.4s;

  &:hover {
    background-color: $primary-color;
    color: white !important;
  }
}

main {
  position: relative;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.line_section {
  display: flex;
  gap: 40px;

  > div {
    width: 50%;
  }
}

.section {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .btn_fill,
  .btn_outline {
    padding: 4px 15px;
    font-size: 13px;
  }

  .section {
    padding: 35px 0;
  }

  .line_section {
    flex-direction: column;
    gap: 30px;

    > div {
      width: 100%;
    }
  }
}
